.Gig-list{
    margin: 30px 260px 0px 280px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn-gig{
    border: 1px solid green;
}


.btn-gig:hover{
    background-color: green;
    color: white;
}

.price{
    position: relative;
    font-size: 14px;
    top: 12px;
    left: 25px;
}

.bottom{
    display: flex;
}

.card{
    height: 380px;
    margin: 10px;
    margin-right: 30px ;
    margin-left: 30px ;
}

.My-card{
    border: 1px solid gray;
}